on:
    push:
        branches:
            - main
jobs:
    git-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with: 
                fetch-depth: 0
            - name: Check for changes in template.yaml
              id: git-check
              run: |
                BASE_BRANCH="${{ github.base_ref }}"
                CURRENT_BRANCH="${{ github.head_ref }}"

                echo "BASE_BRANCH: $BASE_BRANCH"
                echo "CURRENT_BRANCH: $CURRENT_BRANCH"
                git diff "$BASE_BRANCH"..."$CURRENT_BRANCH" > diff.txt
                cat diff.txt

    # deploy:
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v3
    #         - uses: actions/setup-python@v3
    #         - uses: aws-actions/setup-sam@v2
    #         - uses: aws-actions/configure-aws-credentials@v1
    #           with:
    #               aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #               aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #               aws-region: us-east-2
    #         - run: sam build --use-container
    #         - run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset
